@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

// This way 1rem equals 10px...
html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Montserrat';
    // background-color: $general_gray_3;
    // background-color: #353535;

    textarea {
        font-family: 'Montserrat';
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        color: $general_blue_1;
    }

    h1 {
        font-size: sass_clamp(3, 320, 1920, 7);
        font-weight: 900;
    }

    h2 {
        font-size: sass_clamp(2.2, 320, 1920, 5);
    }

    h3 {
        font-size: sass_clamp(2, 320, 1920, 4);
    }

    h4 {
        font-size: sass_clamp(1.8, 320, 1920, 3);
    }

    h5 {
        font-size: sass_clamp(1.5, 320, 1920, 2);
    }

    h6 {
        font-size: sass_clamp(.8, 320, 1920, 1.2);
        font-weight: 500;
    }

    p {
        margin: 0;
        font-size: sass_clamp(1, 320, 1920, 1.2);
    }
}

// Prime Vue Teleported Components

.p-datepicker:not(.p-datepicker.p-datepicker-timeonly) {
    flex-direction: column;
    width: 100% !important;
    left: 0 !important;
    top: calc(100% + 5px) !important;
    padding: 10px;
    background-color: white;
    border: 1px solid $general_gray_2;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;

    & .p-datepicker-buttonbar {
        gap: 10px;
        background-color: #ffffff !important;
        & button {
            padding: 5px 10px;
            border-radius: 4px;
            background-color: $general_green_2;
        }
    }

    & .p-datepicker-group-container {
        width: 100%;
        background-color: #ffffff !important;

        & .p-datepicker-group {
            display: flex;
            flex-direction: column;
            gap: 15px;

            & .p-datepicker-header .p-datepicker-title button {
                font-size: sass_clamp(1, 320, 1920, 1.5);
            }

            & span {
                font-size: sass_clamp(1, 320, 1920, 1.5);
            }
        }
    }
}

.p-datepicker.p-datepicker-timeonly {
    width: 100%;
    top: calc(100% + 5px) !important;
    left: 0 !important;
    padding: 20px;
    background-color: white;
    border: 1px solid $general_gray_2;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;

    & .p-timepicker {
        gap: 5px;

        & div[class|="p"] {
            & span {
                font-size: sass_clamp(1.7, 320, 1920, 1.2);
            }
        }
    }
}