

#app {
    width: 100vw;
    height: 100vh;
    max-width: 1920px;
    max-height: 1080px;
    margin: 0 auto;
    padding: 5px;
    
    & .app-main-container {
        width: 100%;
        height: 100%;
        display: flex;
        border-radius: $border-radius;
        border: 1px solid #000000;
        // box-shadow: $box-shadow;
        

        & .left-side {
            width: 13%;
            min-width: 200px;
            height: 100%;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
            background-color: $general_gray_3;
            border-right: 1px solid #000000;
            // background-color: rgb(180, 180, 180);
            // padding: 20px;

            & .logo {
                width: 100%;
                display: none;
                // height: 10%;
                // background-color: slategray;
                // background-color: #fff;
                background-color: $general_green_3;
                border-top-left-radius: $border-radius;
                border-bottom: 1px solid #000000;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
            }

            & .logo svg {
                width: 100%;
                min-width: 80px;
                height: 33px;
                margin: 0;
            }

            & .tabs {
                position: relative;
                width: 100%;
                height: auto;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                border-bottom: 1px solid #000000;
            }

            // & .tabs div {
            //     display: flex;
            //     justify-content: flex-start;
            //     align-items: center;
            //     gap: 5px;
            // }

            & .tabs div:hover {
                cursor: pointer;
            }

            & .tabs div.sign-out {
                width: 100%;
                height: auto;
                position: absolute;
                bottom: 0;
                // transform: translateY(-50%);    
            }

            & .app-content-header--mobile {
                display: none;
            }
        }

        & .right-side {
            width: 100%;
            height: 100%;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            background-color: $general_gray_3;
            // padding: 10px;

            & .app-main-content {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                border-radius: $border-radius;
                // gap: 10px;
            }

            & .app-main-content .app-content-header,
            & .app-main-content .view-body .app-content-table,
            & .app-main-content .view-body .app-content-footer {
                width: 100%;
            }

            & .app-main-content .app-content-header {
                display: flex;
                justify-content: flex-end;
                height: 5%;
                min-height: 44px;
                max-height: 45px;
                padding: 10px;
                border-bottom: 1px solid black;
                // background-color: rgb(220, 220, 220);
                // padding: 10px;
            }

            & .app-main-content .app-content-header .search-bar-and-user {
                $width_factor: 1;
                width: calc(100% / #{$width_factor});
                display: flex;
                justify-content: space-between;
                right: 0;
                gap: 10px;
                // height: 100%;
            }

            & .app-main-content .app-content-header .search-bar-and-user .search-bar {
                width: 100%;
                height: 100%;
                // background-color: gray;
                border-radius: $border-radius;
                position: relative;
            }

            & .app-main-content .app-content-header .search-bar-and-user .search-bar .search-icon {
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
            }

            & .app-main-content .app-content-header .search-bar-and-user .search-bar input {
                width: 100%;
                height: 100%;
                padding-left: 57px;
                border-radius: $border-radius;
                border: unset;
            }

            & .app-main-content .app-content-header .search-bar-and-user .user {
                width: auto;
                height: 100%;
                // background-color: gray;
            }

            & .app-main-content .app-content-header .search-bar-and-user .user .user-image {
                height: 100%;    
                aspect-ratio: 1;
                margin: 0 0 0 auto;
                border-radius: $border-radius;
            }

            & .app-main-content .app-content-header .search-bar-and-user .user .user-image:hover {
                cursor: pointer;
            }

            & .app-main-content .app-content-header .search-bar-and-user .user .user-image img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: $border-radius;
            }

            & .app-main-content .app-content-header .tabs--mobile {
                display: none;
            }

            & .app-main-content .view-body {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            & .app-main-content .view-body.view-schedule .app-content-table {
                height: 100%;
            }

            & .app-main-content .view-body.view-schedule .app-content-footer {
                // background-color: #ffffff;
                display: none;
                position: relative;
            }

            & .app-main-content .view-body .app-content-footer .plus-icon {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 99;
            }

            & .app-main-content .view-body .app-content-footer .plus-icon:hover {
                cursor: pointer;
            }
        }
    }
}

@media(max-width: 1024px) {
    #app {
        width: calc(100vw - 10px);
        height: calc(100vh - 10px);
        margin-top: 5px;
        padding: 0;

        & .app-main-container {
            flex-direction: column;
            width: 100%;

            & .left-side,
            & .right-side {
                border-radius: unset;
                width: 100%;
            }

            & .left-side {
                height: auto;   
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;
                display: flex;
                align-items: center;
                gap: 20px;
                border: unset;
                border-bottom: 1px solid #000000;

                & .logo,
                & .tabs {
                    height: 100%;
                    border-bottom: unset;
                }

                & .logo {
                    width: auto;
                    padding: 0;
                    border-right: 1px solid #000000;
                    border-top-left-radius: $border-radius;
                }

                & .tabs {
                    display: none;
                }

                & .app-content-header--mobile {
                    display: block;
                    width: 100%;
                    height: 100%;
                    max-height: 45px;
                }

                & .app-content-header--mobile .search-bar-and-user {
                    display: flex;
                    justify-content: flex-end;
                    padding: 10px;
                    gap: 10px;
                    width: 100%;
                    height: 100%;
                }

                & .app-content-header--mobile .search-bar-and-user .search-bar {
                    width: 100%;
                    // max-width: 250px;
                    height: 100%;
                    border-radius: $border-radius;
                    position: relative;
                }

                & .app-content-header--mobile .search-bar-and-user .search-bar .search-icon {
                    position: absolute;
                    top: 50%;
                    left: 20px;
                    transform: translateY(-50%);
                }

                & .app-content-header--mobile .search-bar-and-user .search-bar input {
                    width: 100%;
                    height: 100%;
                    padding-left: 57px;
                    border-radius: $border-radius;
                    border: unset;
                }

                & .app-content-header--mobile .search-bar-and-user .user {
                    width: auto;
                    height: 100%;
                }

                & .app-content-header--mobile .search-bar-and-user .user .user-image {
                    height: 100%;
                    aspect-ratio: 1;
                    margin: 0 0 0 auto;
                    border-radius: $border-radius;
                }

                & .app-content-header--mobile .search-bar-and-user .user .user-image img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: $border-radius;
                }
            }

            & .right-side {
                height: 100%;
                border-bottom-right-radius: $border-radius;
                border-bottom-left-radius: $border-radius;

                & .app-main-content .app-content-header {
                    height: auto;
                    padding: 15px 10px;
                    max-height: unset;
                }

                & .app-main-content .app-content-header .tabs--mobile {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    border-radius: unset;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 10px;
                    padding: 0 0 0 0;
                }

                & .app-main-content .app-content-header .tabs--mobile .schedule,
                & .app-main-content .app-content-header .tabs--mobile .calendar {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 5px;
                }
                & .app-main-content .app-content-header .tabs--mobile > div {
                    padding: 5px;
                    border: 1px solid $general_gray_2;
                    border-radius: $border-radius;
                }
                & .app-main-content .app-content-header .tabs--mobile > div.active {
                    border: 1px solid $general_green_3;
                }
                & .app-main-content .app-content-header .tabs--mobile > div div[class|="add"] {
                    display: none;
                }

                & .app-main-content .app-content-header .tabs--mobile div:hover {
                    cursor: pointer;
                }

                & .app-main-content .app-content-header .tabs--mobile div.sign-out {
                    position: relative;
                    top: unset;
                    right: unset;
                    width: auto;
                }

                & .app-main-content .app-content-header .search-bar-and-user {
                    display: none;
                }
            }
        }
    }
}
@media(max-wdith: 640px) {
    #app {
        
        & .app-main-container {
    
            & .left-side {
    
                & .logo svg {
                    width: 100%;
                }
            }
        }
    }
}
@media(max-width: 480px) {
    #app {
        & .app-main-container {

            & .right-side {
                
                & .app-main-content {
                    gap: 10px;
                }
                & .app-main-content .view-body {
                    gap: 10px;  
                }
            }
        }
    }
}