@import './AddItem/add_item.scss';
@import './EditItem/edit_item.scss';
@import './SettingsMenu/settings_menu';
// @import './Toast/toast.scss';

body .app-popup {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: rgb(255 255 255 / 85%);

    & .add-item-container {
        @extend .add-item-container;
    }
    & .edit-item-container {
        @extend .edit-item-container;
    }
    & .settings-menu-container {
        @extend .settings-menu-container;
    }
    // & .toast-container {
    //     @extend .toast-container;
    // }
}

// body .app-popup {
//     display: none;
// }

